<div class="container-fluid">
    <script type="text/ng-template" id="addPersonForm.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Birth</h3>
        </div>
        <div class="modal-body">
            <form form-helper="formHelper" novalidate name="addPersonForm">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group" ng-class="{'has-error': addPersonForm.firstName.$error.required && addPersonForm.firstName.$dirty, 'has-warning': addPersonForm.firstName.$invalid && addPersonForm.firstName.$pristine, 'has-success': addPersonForm.firstName.$valid, 'has-feedback': addPersonForm.firstName.$valid}" >
                            <label class="control-label" for="firstName">First Name</label>
                            <input ng-change="change()" class="form-control" type="text"  placeholder="Enter First Name" name="firstName" id="firstName" ng-model="person.firstName" required aria-describedby="firstNameSuccess" >
                            <span ng-show="addPersonForm.firstName.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="firstNameSuccess" class="sr-only">(success)</span>
                            <!--<span ng-show="addPersonForm.firstName.$error.required && addPersonForm.firstName.$dirty" >First Name is required</span>-->
                            <!--<span ng-show="formHelper.showValidationMessageFor('firstName')" >Form Helper First Name is required</span>-->
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="surname">Surname</label>
                            <select ng-init="person.surname=surnames[0]" ng-change="change()" required class="form-control" id="surname" ng-model="person.surname.entityId" ng-options="surname.entityId as surname.surname for surname in surnames">
                                <span ng-show="formHelper.showValidationMessageFor('surname')" >Form Helper Surname is required</span>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="birthDate">Birth Date</label>
                            <p class="input-group">
                                <input ng-change="change()" class="form-control"  type="text" datepicker-popup="{{format}}" ng-model="person.birthDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="father">Father</label>
                            <select ng-change="change()" class="form-control"  id="father" ng-model="person.fatherId" ng-options="father.person.entityId as father.personSummary group by father.person.surname.surname  for father in fathers"></select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="mother">Mother</label>
                            <select ng-change="change()" class="form-control"  id="mother" ng-model="person.motherId" ng-options="mother.person.entityId as mother.personSummary for mother in mothers"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group" ng-class="{'has-error': addPersonForm.location.$error.required  && addPersonForm.location.$dirty, 'has-warning': addPersonForm.location.$invalid && addPersonForm.location.$pristine, 'has-success': addPersonForm.location.$valid}" >
                            <label class="control-label" for="location">Birth Location</label>
                            <select name="location" required placeholder="location" ng-change="change()" class="form-control" id="location" ng-model="person.location.entityId" ng-options="location.entityId as (location.addressLine1 + ' ' + location.addressLine2 + ' ' + location.city + ' ' +  location.country.name) for location in locations"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group" ng-class="{'has-error': addPersonForm.gender.$error.required  && addPersonForm.gender.$dirty, 'has-warning': addPersonForm.gender.$invalid && addPersonForm.gender.$pristine, 'has-success': addPersonForm.gender.$valid}">
                                <label for="gender" class="radio-inline">
                                    <input required name="gender" ng-change="change()" id="male" type="radio" ng-model="person.gender" value="1" />&nbsp;Male
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group" ng-class="{'has-error': addPersonForm.gender.$error.required && addPersonForm.gender.$dirty, 'has-warning': addPersonForm.gender.$invalid && addPersonForm.gender.$pristine, 'has-success': addPersonForm.gender.$valid}">
                                <label for="gender" class="radio-inline">
                                    <input required name="gender[]" ng-change="change()" id="female" type="radio" ng-model="person.gender" value="0" />&nbsp;Female
                                </label>
                            </div>
                        </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="formHelper.checkFormValid() && ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <!--<button type="button" class="btn btn-link add-entity" ng-click="openAddPerson()">Add Person</button>-->
</div>
<div class="container-fluid">
    <script type="text/ng-template" id="personDetailsForm.html">
        <div class="modal-header">
            <h3 class="modal-title">Birth Details</h3>
        </div>
        <div class="modal-body">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">CoreInfo</h3></div>
                <div class="panel-body">
                    <div class="row" style="vertical-align: middle">
                        <div class="col-md-2"><span class="details-heading"><strong>Name:</strong></span></div><div class="col-md-4"><span class="details">{{personDetail.person.firstName}}&nbsp;{{personDetail.person.surname.surname}}</span></div>
                        <div class="col-md-2"><span class="details-heading"><strong>When:</strong></span></div><div class="col-md-3"><span class="details">{{personDetail.birthDate}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span class="details-heading"><strong>Where:</strong></span></div><div class="col-md-8"><span class="details">{{personDetail.person.location.addressLine1}}&nbsp;{{personDetail.person.location.addressLine2}}&nbsp;{{personDetail.person.location.city}}&nbsp;{{personDetail.person.location.country.name}}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Close</button>
        </div>
    </script>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

            <div>
                <a href="#" class="thumbnail">
                    <img src="http://localhost:8000/app/images/601/300.jpg" alt="someone">
                </a>
            </div>
            <div>
                <a href="#" class="thumbnail">
                    <img src="http://localhost:8000/app/images/602/300.jpg" alt="someone">
                </a>
            </div>
            <div>
                <a href="#" class="thumbnail">
                    <img src="http://localhost:8000/app/images/603/300.jpg" alt="someone">
                </a>
            </div>
            <div>
                <a href="#" class="thumbnail">
                    <img src="http://localhost:8000/app/images/604/300.jpg" alt="someone">
                </a>
            </div>





        </div>
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="#home">Home</a></li>
                <li class="active">Births</li>
            </ol>
            <div class="page-header">
                <h1>Births <small>From 1568 - present day</small></h1>
            </div>
            <p><button type="button" ng-click="openAddPerson()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Birth</button></p>
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
            <p>
                <div class="row">
                    <div class="col-md-1">Page: {{ gridApi.pagination.getPage() }}</div>
                    <div class="col-md-2">Total pages: {{ gridApi.pagination.getTotalPages() }}</div>
                    <div class="col-md-4"><button type="button" class="btn btn-success" ng-click="gridApi.pagination.previousPage()">
                        previous page
                    </button>&nbsp;
                    <button type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()">
                        next page
                    </button></div>
                </div>
            </p>
        </div>
    </div>
</div>